@import "tailwindcss";

@theme {
  --color-peach: #ffc0a8;
  --color-light-blue: #d9f7ff;
  --color-pink: #ffd1dc;
  --color-plum: #874c62;
  --color-ebony: #070b24;
  --color-darkblue: #121935;
  --color-light-royal-blue: #287eae;
  --color-bluish-gray: #233451;
  --color-green: #217574;
  --color-brownish-ash: #674846;
  --color-purple: #69356c;
}
